@using Abp.Timing
@model BeiDream.MetronicMpa.Areas.Admin.Models.Layout.LayoutParamsViewModel
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html>
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8" />
    <title>@Model.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/metronic/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/metronic/assets/global/css/components-rounded.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/metronic/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/metronic/assets/layouts/layout2/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/metronic/assets/layouts/layout2/css/themes/blue.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/metronic/assets/layouts/layout2/css/custom.min.css" rel="stylesheet" type="text/css"/>
    <!-- 自定义layout样式 -->
    <link href="~/metronic/assets/admin/css/layout.css" rel="stylesheet" />
    @RenderSection("head", false)
</head>
<!-- END HEAD -->
<body class="page-header-fixed page-sidebar-closed-hide-logo page-container-bg-solid">
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="@Url.Action("Index", "Dashboard", new { area = "Admin" })">
                    <img src="~/metronic/assets/layouts/layout2/img/logo-default.png" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->

            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"> </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <!--page menu start -->
                @Html.Action("PageMenu", "Layout", new { area = "Admin", activePageMenu = Model.ActivePageMenuName })
                <!--page menu end -->
            <!-- BEGIN TOP NAVIGATION MENU -->
                @Html.Action("NotificationMenu", "Layout", new {area = "Admin"})
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->
    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->
    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN SIDEBAR -->
        <div class="page-sidebar-wrapper">
            <!-- END SIDEBAR -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
                <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
                <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
                <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
                <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
                <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
                @Html.Action("Sidebar", "Layout", new { area = "Admin", activePageMenu = Model.ActivePageMenuName, activeMenu = Model.ActiveMenuName })
                <!-- END SIDEBAR MENU -->
            </div>
            <!-- END SIDEBAR -->
        </div>
        <!-- END SIDEBAR -->
        <!-- BEGIN CONTENT -->
        <div class="page-content-wrapper">
            <!-- BEGIN CONTENT BODY -->
            <div class="page-content">
                <!-- BEGIN PAGE HEADER-->
                    @RenderSection("PageTitle", false)
                    @RenderSection("PageBar", false)
                    @RenderBody()
            </div>
            <!-- END CONTENT BODY -->
        </div>
        <!-- END CONTENT -->
    </div>
    <!-- END CONTAINER -->
    <!-- BEGIN FOOTER -->
        @Html.Action("Footer", "Layout", new { area = "Admin" })
    <!-- END FOOTER -->
    <!--[if lt IE 9]>
    <script src="~/metronic/assets/global/plugins/respond.min.js"></script>
    <script src="~/metronic/assets/global/plugins/excanvas.min.js"></script>
    <![endif]-->
    <!-- BEGIN CORE PLUGINS -->
    <script src="~/metronic/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/metronic/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/metronic/assets/global/plugins/js.cookie.min.js" type="text/javascript"></script>
    <script src="~/metronic/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/metronic/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/metronic/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/metronic/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/metronic/assets/global/scripts/app.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN THEME LAYOUT SCRIPTS -->
    <script src="~/metronic/assets/layouts/layout2/scripts/layout.min.js" type="text/javascript"></script>
    <script src="~/metronic/assets/layouts/global/scripts/quick-sidebar.min.js" type="text/javascript"></script>
    <!-- END THEME LAYOUT SCRIPTS -->
    <script type="text/javascript">
        var abp = abp || {};
        (function($) {
            /* SETTINGS **************************************************/
            //Implements Settings API that simplifies usage of setting scripts generated by Abp.

            abp.setting = abp.setting || {};

            abp.setting.values = abp.setting.values || {};

            abp.setting.get = function(name) {
                return abp.setting.values[name];
            };

            abp.setting.getBoolean = function(name) {
                var value = abp.setting.get(name);
                return value === 'true' || value === 'True';
            };

            abp.setting.getInt = function(name) {
                return parseInt(abp.setting.values[name]);
            };
        })(jQuery);

        //(function ($) {

        //    abp.setting.values = {
        //        ThemeColor:"blue",
        //        ThemeStyle: "rounded",
        //        LayoutOption: "fluid",
        //        SidebarOption: "fixed",
        //        SidebarPosOption: "left",
        //        SidebarStyleOption: "compact",
        //        SidebarMenuOption: "accordion",
        //        HeaderOption: "fixed",
        //        FooterOption: "fixed",
        //        HeaderTopDropdownStyle: "light"
        //    };

        //})(jQuery);
    </script>
    <script src="~/AbpScripts/GetScripts?v=@(Clock.Now.Ticks)" type="text/javascript"></script>
    <script src="~/metronic/assets/layouts/layout2/scripts/demo.js" type="text/javascript"></script>
    @RenderSection("Scripts", false)
</body>
</html>
