@model IEnumerable<BeiDream.MetronicMpa.Areas.Admin.Models.Layout.PageMenuViewModel>  
<div class="top-menu" style="float: left">
    <ul class="nav navbar-nav pull-left pageMenu">
        @foreach (var pageMenu in Model)
        {
            <li class="dropdown dropdown-extended @(pageMenu.IsActive ? "pageMenuActive" : "")">
                <a href="@Url.Action("Index", "Dashboard", new { area = "Admin", activePageMenu = pageMenu.PageName})">
                    <i class="@pageMenu.Icon"></i>
                    <span>@pageMenu.DisplayName</span>
                </a>
           </li>
        }
                        @*<li class="dropdown dropdown-extended">
                            <a href="@Url.Action("Index", "Dashboard", new {area = "Admin", activePageMenu = "StudentsManage"})">
                                <i class="icon-home"></i>
                                <span>学生管理</span>
                            </a>
                        </li>
                        <li class="dropdown dropdown-extended">
                            <a href="@Url.Action("Index", "Dashboard", new {area = "Admin", activePageMenu = "TeachingManage"})">
                                <i class="icon-share"></i>
                                <span>教务管理</span>
                            </a>
                        </li>
                        <li class="dropdown dropdown-extended">
                            <a href="@Url.Action("Index", "Dashboard", new {area = "Admin", activePageMenu = "WorkingManage"})">
                                <i class="icon-users"></i>
                                <span>办公管理</span>
                            </a>
                        </li>
                        <li class="dropdown dropdown-extended">
                            <a href="@Url.Action("Index", "Dashboard", new {area = "Admin", activePageMenu = "SysManage"})">
                                <i class="icon-settings"></i>
                                <span>系统管理</span>
                            </a>
                        </li>*@
</ul>
</div>

