@model BeiDream.Mpa.Areas.Admin.Models.Layout.SidebarViewModel
@using Abp.Collections.Extensions


<!--sidebar nav start-->
<ul class="nav nav-pills nav-stacked custom-nav">

    @foreach (var menuItem in Model.Menu.Items)
    {
        if (menuItem.Items.IsNullOrEmpty())
        {
            <li>
                <a href="@menuItem.Url">
                    @if (!string.IsNullOrWhiteSpace(menuItem.Icon))
                    {
                        <i class="@menuItem.Icon"></i>
                    }
                    <span>@menuItem.DisplayName</span>
                </a>
            </li>
        }
        else
        {
            <li class="menu-list">
                <a href="">
                    @if (!string.IsNullOrWhiteSpace(menuItem.Icon))
                    {
                        <i class="@menuItem.Icon"></i>
                    }
                    <span>@menuItem.DisplayName</span>
                </a>
                <ul class="sub-menu-list">
                    @foreach (var subMenuItem in menuItem.Items)
                    {
                        <li>
                            <a class="menuItem" href="@subMenuItem.Url">
                                @if (!string.IsNullOrWhiteSpace(subMenuItem.Icon))
                                {
                                    <i class="@subMenuItem.Icon"></i>
                                }
                                @subMenuItem.DisplayName
                            </a>
                        </li>
                    }
                </ul>
            </li>

          }
}

</ul>
<!--sidebar nav end-->
