@using Abp.Web.Mvc.Extensions
@using BeiDream.Application.Admin.Configuration.Host.Dto
@model BeiDream.MetronicMpa.Areas.Admin.Models.Layout.LayoutParamsViewModel
@section head {
    @Html.IncludeStyle("~/Areas/SysManage/Views/ThemeSetting/Index.css")
}
@section PageTitle {
    <h3 class="page-title">
         主题设置
        <small>主题设置</small>
    </h3>
}
@section PageBar {
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <i class="icon-settings"></i>
                <a href="@Url.Action("Index", "Dashboard", new { area = "Admin", activePageMenu ="SysManage"})">系统管理</a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li>
                <a href="#">主题设置</a>
            </li>
        </ul>
    </div>
}
@section Scripts {
@Html.IncludeScript("~/Areas/SysManage/Views/ThemeSetting/Index.js")
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">主题面板</h3>
    </div>
    <div class="panel-body">
        <button type="submit" class="btn green" style="float:right" id="btnSave">保存主题</button>
        <div class="settingtheme-panel">
            <div class="theme-options" id="themeoptions">
                <div class="theme-option theme-colors clearfix">
                    <span> 主题颜色</span>
                    <ul>
                        <li class="color-default @(((ThemeSettingEditDto)Model.PageDatas).ThemeColor == "default" ? "current" : "") tooltips" data-style="default" data-container="body" data-original-title="默认(深蓝)"> </li>
                        <li class="color-grey @(((ThemeSettingEditDto)Model.PageDatas).ThemeColor == "grey" ? "current" : "") tooltips" data-style="grey" data-container="body" data-original-title="灰色"> </li>
                        <li class="color-blue @(((ThemeSettingEditDto)Model.PageDatas).ThemeColor == "blue" ? "current" : "") tooltips" data-style="blue" data-container="body" data-original-title="蓝色"> </li>
                        <li class="color-dark @(((ThemeSettingEditDto)Model.PageDatas).ThemeColor == "dark" ? "current" : "") tooltips" data-style="dark" data-container="body" data-original-title="黑色"> </li>
                        <li class="color-light @(((ThemeSettingEditDto)Model.PageDatas).ThemeColor == "light" ? "current" : "") tooltips" data-style="light" data-container="body" data-original-title="亮色"> </li>
                    </ul>
                </div>
                <div class="theme-option">
                    <span> 主题样式</span>
                    <select class="layout-style-option form-control input-small">
                        <option value="square" @(((ThemeSettingEditDto)Model.PageDatas).ThemeStyle == "square" ? "selected=\"selected\"" : "")>方角</option>
                        <option value="rounded" @(((ThemeSettingEditDto)Model.PageDatas).ThemeStyle == "rounded" ? "selected=\"selected\"" : "")>圆角</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> 布局样式 </span>
                    <select class="layout-option form-control input-small">
                        <option value="fluid" @(((ThemeSettingEditDto)Model.PageDatas).Layout == "fluid" ? "selected=\"selected\"" : "")>响应式布局</option>
                        <option value="boxed" @(((ThemeSettingEditDto)Model.PageDatas).Layout == "boxed" ? "selected=\"selected\"" : "")>盒模型布局</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> 头部位置 </span>
                    <select class="page-header-option form-control input-small">
                        <option value="fixed" @(((ThemeSettingEditDto) Model.PageDatas).HeaderPosition == "fixed" ? "selected=\"selected\"" : "")>相对顶部固定</option>
                        <option value="default" @(((ThemeSettingEditDto) Model.PageDatas).HeaderPosition == "default" ? "selected=\"selected\"" : "")>绝对顶部固定</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> 页首下拉样式</span>
                    <select class="page-header-top-dropdown-style-option form-control input-small">
                        <option value="light" @(((ThemeSettingEditDto)Model.PageDatas).HeaderTopDropdownStyle == "light" ? "selected=\"selected\"" : "")>明亮</option>
                        <option value="dark" @(((ThemeSettingEditDto)Model.PageDatas).HeaderTopDropdownStyle == "dark" ? "selected=\"selected\"" : "")>暗黑</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> 菜单栏模式</span>
                    <select class="sidebar-option form-control input-small">
                        <option value="fixed" @(((ThemeSettingEditDto)Model.PageDatas).SidebarMode == "fixed" ? "selected=\"selected\"" : "")>滚动条模式(此模式不能使用悬浮的子菜单栏风格)</option>
                        <option value="default" @(((ThemeSettingEditDto)Model.PageDatas).SidebarMode == "default" ? "selected=\"selected\"" : "")>默认模式</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> 菜单栏样式</span>
                    <select class="sidebar-style-option form-control input-small">
                        <option value="default" @(((ThemeSettingEditDto)Model.PageDatas).SidebarStyle == "default" ? "selected=\"selected\"" : "")>默认模式</option>
                        <option value="compact" @(((ThemeSettingEditDto)Model.PageDatas).SidebarStyle == "compact" ? "selected=\"selected\"" : "")>简洁手风琴</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> 子菜单栏风格 </span>
                    <select class="sidebar-menu-option form-control input-small">
                        <option value="accordion" @(((ThemeSettingEditDto)Model.PageDatas).SidebarMenu == "accordion" ? "selected=\"selected\"" : "")>手风琴</option>
                        <option value="hover" @(((ThemeSettingEditDto)Model.PageDatas).SidebarMenu == "hover" ? "selected=\"selected\"" : "")>悬浮</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> 菜单栏位置</span>
                    <select class="sidebar-pos-option form-control input-small">
                        <option value="left" @(((ThemeSettingEditDto)Model.PageDatas).SidebarPosition == "left" ? "selected=\"selected\"" : "")>左边</option>
                        <option value="right" @(((ThemeSettingEditDto)Model.PageDatas).SidebarPosition == "right" ? "selected=\"selected\"" : "")>右边</option>
                    </select>
                </div>
                <div class="theme-option">
                    <span> 页脚位置 </span>
                    <select class="page-footer-option form-control input-small">
                        <option value="fixed" @(((ThemeSettingEditDto)Model.PageDatas).FooterPosition == "fixed" ? "selected=\"selected\"" : "")>相对底部固定</option>
                        <option value="default" @(((ThemeSettingEditDto)Model.PageDatas).FooterPosition == "default" ? "selected=\"selected\"" : "")>绝对底部固定</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>




